---
import { getCollection, render } from "astro:content";
import { h1, h2, h3, h4, h5, h6 } from "@components/heading";
import Layout from "@layouts/Layout.astro";
import { getImage } from "astro:assets";
import BlogSeo from "@seo/Blog.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const components = {
  // this does not work for some reason
  // h1: (props: HTMLAttributes<"h1">) => <Heading level={1} {...props} />,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
};

const author = "Faraaz Biyabani";
const title = `${post.data.title} • ${author}`;
const description = post.data.description;
// const updatedAt = post.data.updatedAt;
// const publishedAt = post.data.publishedAt;
// // TODO
// 2. sitemap
const image = await getImage({
  src: post.data.image,
  width: 1200,
  height: 630,
});
const imageSrc = new URL(image.src, Astro.url).toString();
const imageHeight = image.options.height?.toString();
const imageWidth = image.options.width?.toString();

const publishedOnDate = post.data.publishedAt.toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<Layout>
  <Fragment slot="head">
    <title>{title}</title>
    <BlogSeo
      title={title}
      description={description}
      image={{ src: imageSrc, height: imageHeight, width: imageWidth }}
      author={author}
    />
  </Fragment>
  <article>
    <h1>{post.data.title}</h1>
    <dl>
      <dt><i>Published on</i></dt>
      <dd>
        <time datetime={post.data.publishedAt.toISOString()}>
          <b>
            {publishedOnDate}
          </b>
        </time>
      </dd>
    </dl>
    <Content components={components} />
  </article>
</Layout>

<style lang="scss" is:global>
  dl {
    display: flex;
    gap: 0.3rem;
  }

  article {
    line-height: 1.5;

    code {
      background-color: var(--code-bg);
      padding: 0.125em 0.25em;
      border-radius: 0.25rem;
      font-size: calc(1em - 10%);
    }

    a:not([href^="#"]) {
      color: var(--link);
      text-decoration: none;
      transition: all 0.2s ease-in-out;
    }

    a:not([href^="#"]):hover {
      text-decoration: underline;
    }

    table {
      border-collapse: collapse;
      text-align: left;

      th {
        font-weight: 500;
      }

      td,
      th {
        padding: 0.75rem;
        border: 1px solid var(--border);
      }
    }
  }
</style>
