---
import { Image } from "astro:assets";
import Link from "@components/Link.astro";
import type { Project } from "@sections/projects/project.schema";

type Props = Project;

const { title, accent, picture, links, description } = Astro.props;
---

<div class={`card ${accent}`}>
  <div class="titlebar">
    <span class="title">{title}</span>
  </div>
  <div class="window">
    <div class="display">
      <Image src={picture.dark} class="image" alt={"Project screenshot"} />
    </div>
    <p class="description">{description}</p>
    <div class="links">
      {
        links.map(({ title, icon, url }) => {
          return (
            <Link
              icon={icon}
              accent={accent}
              href={url}
              target="_blank"
              rel="noreferrer"
            >
              {title}
            </Link>
          );
        })
      }
    </div>
  </div>
</div>

<style lang="scss">
  @use "@styles/variables" as v;
  .card {
    display: flex;
    flex-direction: column;
    background: var(--secondary);
    border: 1px solid light-dark(v.$neutral-950, v.$neutral-400);
    border-radius: 10px;
    box-shadow: 10px 10px 0 light-dark(v.$cyan-200, v.$cyan-800);
    height: auto;
    max-width: 500px;
    min-width: 200px;
    min-height: 400px;

    &.pink {
      box-shadow: 10px 10px 0 light-dark(v.$pink-300, v.$pink-800);
    }

    &.green {
      box-shadow: 10px 10px 0 light-dark(v.$emerald-200, v.$emerald-800);
    }

    &.yellow {
      box-shadow: 10px 10px 0 light-dark(v.$amber-200, v.$amber-800);
    }
  }

  .titlebar {
    background: var(--secondary);
    border-bottom: 1px solid light-dark(v.$neutral-950, v.$neutral-400);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
  }

  .title {
    font-size: 1.5rem;
    color: var(--foreground);
  }

  .description {
    line-height: 1.3;
    color: var(--foreground);
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .window {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 10px;
  }

  .card > .window > .links {
    display: flex;
    gap: 10px;
  }
</style>
